---
layout: scaffold
---
<div class="hero-background"></div>
<div class="hero">
  <div class="hero-wrapper">
    <div class="content">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
      <h2>Navigation</h2>
      {% include nav.html %}
    </div>
  </div>
  <a class="arrow-down" href="#writing"></a>
</div>
<main>
  <div class="content" id="writing">
    <p class="meta text-left"><a href="https://tinyletter.com/embengineering"><i class="fa fa-envelope-o"></i> Subscribe Here!</a></p>
    <h1>Posts</h1>
    {% include post-index.html %}
  </div>
</main>
