<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} &middot;
        {% else %}@embengineering{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{% if page.thumbnail %}{{ site.url }}{{ page.thumbnail }}{% else %}{{ site.profile_thumbnail }}{% endif %}">
    <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
    <link rel="icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"  title="RSS"   href="/feed.xml" />
    <script src="//use.typekit.net/cup5bnl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
