// =============================================================
// =============================================================
//
// Masthead component - for page & article titles
//
// =============================================================
// =============================================================

.masthead {
  @extend .colors-blue-dark;
  background:
  linear-gradient(
    rgba(0, 96, 100, 0.9),
    rgba(0, 96, 100, 0.9)
  ),
  url(/assets/intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 0 2rem 0;
  .arrow-left {
    position: absolute;
    left: -6rem;
    top: 50%;
    margin-top: calc(-48px / 2);
  }
  .intro {
    font-weight: 300;
    // font-style: italic;
    font-size: 1.5rem;
    color: $cyan-200;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  p {
    margin: 0;
  }

  .date {
    margin-top: 2rem;
  }
}
